<component name="libraryTable">
  <library name="Gradle: androidx.navigation:navigation-fragment:2.4.1@aar">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/transforms-3/baebec71eb5a18ce03b937f06eacfa74/tra